# Configuración local / secretos
config/local.json
.env
.env.*
!.env.example

# Flutter / Dart
.dart_tool/
build/
.flutter-plugins-dependencies

# Android generado
android/.gradle/
android/local.properties

# Node
node_modules/

# IDE
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db
# APK generados
APK/
*.apk

# Archivos generados automáticamente por Flutter
**/GeneratedPluginRegistrant.java

# Caché de Gradle
android/.gradle/