# Entornos y dependencias pesadas
node_modules/
APK/
build/
.dart_tool/
.idea/
.vscode/

# Basura local y temporales de Gradle
android/.gradle/
android/local.properties
.flutter-plugins-dependencies
fsdfsdfsdfsd
*.txt

# Seguridad: llaves y credenciales
android/key.properties
*.jks
*.keystore
.env
